<h1>Jobs</h1>

<%= form_tag(jobs_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Users" %>
  <%= submit_tag "Search", :name => nil %>
<% end %>



<ul>
  <% @jobs.each do |job| %>
  <li><%= "#{job.title} - #{job.company.name}, #{job.company.location}" %></li>
  <%= link_to(job.title, job_path(job)) %>
  <% end %>
</ul>

